# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.*.json
debug.log

# Dependency directories
node_modules/
jspm_packages/

# macOS
.DS_Store

# Vim swap files
*.swp

# Build
dist
dist-ssr

# IDE / Editor
.idea

# dotenv
.env*
*.local
!.env.sample
