@font-face {
  font-weight: 100 900;
  font-family: InterVariable;
  font-style: normal;
  src: url("../fonts/InterVariable.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 100 900;
  font-family: InterVariable;
  font-style: italic;
  src: url("../fonts/InterVariable-Italic.woff2") format("woff2");
  font-display: swap;
}
